<h1 class="text-3xl font-bold text-center bg-red-600">Google maps</h1>

@if (tpMap === 'GOOGLE') {
  <div class="w-full flex justify-center py-4">
    <div id="maps" class="w-[700px] h-[400px]">
      <google-map
          height="100%"
          width="100%"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="moveMap($event)"
        >
        <!-- <map-bicycling-layer /> -->
        <!-- <map-kml-layer [url]="kmlUrl" /> -->
        <!-- @for (polygon of polygons; track $index) {
        } -->
        <map-polygon *ngFor="let polygon of polygons" [options]="polygon" [paths]="polygon?.paths || []"></map-polygon>

        <!-- Polygon principal -->
        <!-- <map-polygon [paths]="vertices" [options]="polygonOptions">
          </map-polygon> -->

        <!-- <map-polyline [path]="vertices" /> -->
        <!-- <map-rectangle [bounds]="bounds" /> -->
        <map-traffic-layer [autoRefresh]="false" />
      </google-map>
    </div>

  </div>
  <input type="file" (change)="onFileSelected($event)" />
  <!-- <div class="w-full font-semibold text-3xl mt-10 flex justify-center">
    <h1>MAPS PURO</h1>
    <div class="map" id="map" #map></div>
  </div> -->
} @else {
  <app-mapbox></app-mapbox>
}
